{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <main class="MainContent">
        <div class="TaskList">
            <h1 class="TaskList-Title">Контест</h1>
            <h3 class="TaskList-SectionTitle">Курсы</h3>
            {% comment %} <div class="TaskList-Progress">
                <p><strong>Прогресс:</strong> 0 из n курсов</p>
            </div> {% endcomment %}
            <ul class="TaskList-Items">
                {% for course in courses %}
                    <li class="TaskItem">
                        <nav class="Header-Nav"><span class="TaskItem-Name"><a href="{% url "subject:subject" course.slug%}">{{ course.name }}</a></span></nav>
                        {% comment %} <span class="TaskItem-Status">{{ course.status }}</span> {% endcomment %}
                        {% comment %} <span class="TaskItem-Attempts">☑ ø1</span> {% endcomment %}
                    </li>                
                {% endfor %}
            </ul>
            {% comment %} <p class="TaskList-Instruction">Выберите задачу для решения</p> {% endcomment %}
        </div>
    </main>
{% endblock  %}