#python stuff
venv/
.pylintrc
__pycache__/
course/files/student_code.py

#ide stuff
.vscode
.idea

#django stuff
db.sqlite3
media/
lms/course/migrations/
lms/users/migrations/

#jupyter stuff
jhub_docker/jhub_data/*
!jhub_docker/jhub_data/jupyterhub_config.py