{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link href="{% static "js/codemirror/lib/codemirror.css"%}" rel="stylesheet">
    <script src="{% static "js/codemirror/lib/codemirror.js" %}"></script>
    <script src="{% static "js/codemirror/mode/python/python.js" %}"></script>
    <link href="{% static "js/codemirror/theme/darcula.css"%}" rel="stylesheet">
    <link href="{% static "js/codemirror/theme/dracula.css"%}" rel="stylesheet">
    <script src="{% static "js/codemirror/addon/edit/matchbrackets.js" %}"></script>
    <style>
        .CodeMirror { height: auto; }
        .CodeMirror-scroll { max-height: 200px; }
        .CodeMirror pre { padding-left: 7px; line-height: 1.25; }
    </style>
</head>
<body class="Theme Theme_color_hrDark">
    <header class="Header">
        <div class="Header-Logo">
            <img src="{% static "logo.svg" %}" alt="Логотип">
        </div>
        <nav class="Header-Nav">
            <ul>
                <li><a href="{% url "main:index" %}">Главная</a></li>
                {% if user.is_admin or user.is_staff %}
                    <li><a href="{% url "admin:index" %}">Админ панель</a></li>
                {% endif %}
                {% if user.is_admin or user.is_staff %}
                    <form class="AuthForm" action="{% url "main:prep" %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <th>
                                <input type="file" name="notebook" required>
                                </th>
                                <th>
                                <button type="submit">
                                    Отправить
                                </button>
                                </th>
                            </tr>
                        </table>
                    </form>
                {% endif %}
                <li><a href="{% url "user:logout" %}">Выйти</a></li>
            </ul>
        </nav>
        <div class="Header-UserMenu">
            {% comment %} <button class="UserMenu-Button">Профиль</button> {% endcomment %}
        </div>
    </header>
    
    {% block content %}
    
    {% endblock %}

</body>
</html>