{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
</head>
<body class="Theme Theme_color_hrDark">
    <header class="Header">
        <div class="Header-Logo">
            <img src="{% static "logo.svg" %}" alt="Логотип">
        </div>
        <nav class="Header-Nav">
            <ul>
                <li><a href="{% url "main:index" %}">Главная</a></li>
                {% if user.is_admin or user.is_staff %}
                    <li><a href="{% url "admin:index" %}">Админ панель</a></li>
                {% endif %}
                <li><a href="{% url "user:logout" %}">Выйти</a></li>
            </ul>
        </nav>
        <div class="Header-UserMenu">
            {% comment %} <button class="UserMenu-Button">Профиль</button> {% endcomment %}
        </div>
    </header>
    
    {% block content %}
    
    {% endblock %}

</body>
</html>